/**Task History Display */
#historyDisplay {
	-fx-padding : 40;  
	-fx-spacing: 30;
}

#historyPageTitle {
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-font-size: 30;
	-fx-padding: 0 0 0 40;	/* top, right, bottm, left */
}

#taskData, #columnLabel {
	-fx-font-size: 18;
}
#columnLabel {
	-fx-font-weight: bold;
}

#taskAnalysisBtn {
	-fx-pref-width: 200;
	-fx-pref-height: 50px;
	
	-fx-font-size: 20;
	-fx-text-fill: BLACK;
	
	/* rounding corners: top left, top right, bottom right, bottom left */
	-fx-border-radius: 10 10 10 10;
	-fx-background-radius: 10 10 10 10;
} #taskAnalysisBtn:hover {
	-fx-font-size: 23;

	/*-fx-opacity: 0.75;*/
}

#rowOfData {
	-fx-spacing: 30;
}
#deleteEntryBtn {
	-fx-background-image: url("../images/trashcan.png"); 
	
	-fx-background-color: transparent;
	-fx-background-repeat: no-repeat; 
	-fx-background-position: center;  
	
	-fx-pref-height: 30px;
	-fx-pref-width: 30px;
	-fx-background-size: 30px 30px; 
}

