#settingsPage {
	-fx-padding : 40;  
}

#settingsPageTitle {
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-font-size: 30;
	-fx-padding: 0 0 40 40;
}

#colorSettingBox {
	-fx-spacing: 20;
}
#greenBtn, #blueBtn, #orangeBtn {
	-fx-pref-width: 50;
}
#greenBtn {
	-fx-background-color: DARKSEAGREEN;
}
#blueBtn {
	-fx-background-color: LIGHTBLUE;
}
#orangeBtn {
	-fx-background-color: DARKSALMON;
}