/**Side Panel */
#sidePanel {
	-fx-padding: 30 0 0 5; /*top, left, bottom, right*/
	-fx-pref-width: 150;
}
/*side panel buttons */
#taskDashboardBtn, #settingsBtn, #accountNameLabel {
	-fx-pref-height: 50px;
}
#accountBtn {
	-fx-pref-height: 75px;
	-fx-text-alignment: center;
}
#taskDashboardBtn, #settingsBtn, #accountBtn, #accountNameLabel {
	-fx-pref-width: 380;
	-fx-background-color: transparent;
	
	-fx-font-size: 18;
	-fx-text-fill: BLACK;
}
#taskDashboardBtn:hover, #settingsBtn:hover, #accountBtn:hover {
	/*-fx-font-weight: bold;*/
	-fx-font-size: 22;
}
#settingsBtn {
	-fx-background-image: url("../images/gearwheel.png"); 
	-fx-background-size: 25px 25px; 
	-fx-background-repeat: no-repeat; 
	-fx-background-position: left;  
}