/**Side Panel */
#sidePanel {
	-fx-padding: 30 10 0 10; /*top, left, bottom, right*/
	-fx-pref-width: 150;
}
.sidePanelBtn {
	-fx-pref-height: 50px;
	-fx-pref-width: 150;
	-fx-background-color: transparent;
	
	-fx-font-size: 18;
	-fx-text-fill: BLACK;
}
#settingsBtn {
	-fx-background-image: url("images/gearwheel.png"); 
	-fx-background-size: 25px 25px; 
	-fx-background-repeat: no-repeat; 
	-fx-background-position: left;  
}