/**Side Panel */
#sidePanel {
	/*-fx-background-color: DARKSEAGREEN;*/
	-fx-padding: 10;
	-fx-pref-width: 150;
}
.sidePanelBtn {
	-fx-pref-height: 50px;
	-fx-pref-width: 125;
	-fx-background-color: transparent;
	
	-fx-font-size: 15;
}
#settingsBtn {
	-fx-background-image: url("images/gearwheel.png"); 
	-fx-background-size: 30px 30px; 
	-fx-background-repeat: no-repeat; 
	-fx-background-position: left;  
}